name: CI (Cargo crate)

on:
  pull_request:
    types:
      - ready_for_review
      - review_requested
    paths:
      - ".github/actions/**/*.yaml"
      - ".github/workflows/ci-cargo.yaml"
      - "**/*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
      - "package.json"
      - "pnpm-lock.yaml"
  push:
    branches:
      - main

env:
  RUST_TOOLCHAIN_TARGET: wasm32-unknown-unknown

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup rust
        uses: ./.github/actions/setup-rust

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/setup-pnpm

      - name: Build
        run: |
          pnpm run build

  lint:
    name: Lint
    needs: build
    runs-on: ubuntu-latest

    permissions:
      checks: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup rust
        uses: ./.github/actions/setup-rust

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/setup-pnpm

      - name: Setup reviewdog
        uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0

      - name: Run clippy
        env:
          CARGO_TERM_COLOR: never
          REVIEWDOG_FORMAT: clippy
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REVIEWDOG_REPORTER: github-check
        run: |
          pnpm --silent run lint \
            -q \
            --no-deps \
            --target=${{ env.RUST_TOOLCHAIN_TARGET }} \
            --message-format=short \
            2>&1 \
          | reviewdog \
              -f="${REVIEWDOG_FORMAT}" \
              --name="Lint result (${REVIEWDOG_FORMAT})" \
              --reporter="${REVIEWDOG_REPORTER}" \

  format:
    name: Format
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup rust
        uses: ./.github/actions/setup-rust

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/setup-pnpm

      - name: Check format
        run: |
          pnpm run fmt --check
